:root{
    --color-main: #f18121;
}
.color_main{
    color: var(--color-main) !important;
}
.btn-outline-web{    
    border-color: var(--color-main)  !important;
    color: var(--color-main)  !important;
}
.btn-outline-web:hover{
    background-color: var(--color-main)  !important;
    border-color: var(--color-main)  !important;
    color: #fff !important;
}
.justify-end{
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
}
.justify-start{
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}
.justify-center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.justify-between{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.web_breadcrumb li a{
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}

.header .header_search{
    position: relative;
    width: calc(100% - 150px);
}
.header .header_search input {
    border-radius: 25px;
    padding: 12px 30px;
}
.header .header_search .search_icon {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 20px;
}
.header .menu{
    background-color: var(--color-main) ;
    height: 50px;
}
.header .menu ul{
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
}
.header .menu ul li{
    flex: 1;
    text-align: center;
}
.header .menu ul li a{
    text-transform: capitalize;
    color: #000;
    padding: 0;
}

#footer .page-logo{
    width: 200px;
}
#footer .page-logo img{
    width: 100%;
    height: auto;
}
.comic_new .comic{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    height: auto;
    text-decoration: none;
}
.comic_new .comic .comic_title{
    position: absolute;
    bottom: 0;
    padding: 10px 12px;
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.75));
    color: #fff;
    margin-bottom: 0;
}
.comic_new .comic .comic_title .category{
    font-size: 16px;
    font-weight: 400px;
}
.comic_new .comic .comic_chapter{
    width: max-content;
    padding: 2px 10px;
    background: var(--color-main) ;
    border-radius: 15px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
}

.comic_new .comic_hover{
    position: relative;
}

.comic_new .comic_hover .desc{
    position: absolute;
    top: 45%;
    padding: 0px 10px;
    font-size: 14px;
    color: #fff;
    z-index: 2;
    opacity: 0;    
    transition: opacity 700ms, visibility 700ms; 
}
.comic_new .comic_hover:hover .desc{
    opacity: 1;
}
.comic_new .comic_hover::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0,.33);
    z-index: 1;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    filter: blur(4px);
}
.comic_new .comic_hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(0,0,0,.33);
    z-index: 1;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    filter: blur(4px);
}
.comic_new .comic_hover:hover::before, .comic_hover:hover::after{
    height: 100%;
}
.comic_new .comic_hover:hover .comic_title{
    bottom: 65%;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    z-index: 2;
    background: none;
}
.comic_new .comic_hover:hover .comic_chapter{
    top: 35%;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    z-index: 2;
}

.block-heading{
    border-left: 8px solid #56ccf2;
    color: #56ccf2;
}
.block-heading h2{
    font-weight: 600;
}
.slide_comic .comic{
    text-decoration: none;
}
.slide_comic .comic .comic_thumb{
    height: 240px;
    position: relative;
}
.slide_comic .comic .comic_thumb img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.slide_comic .comic .comic_thumb .comic_info{
    position: absolute;
    top: 5px;
    left: 5px;
}
.slide_comic .comic .comic_thumb .comic_info .time{
    color: #fff;
    background: var(--color-main) ;
    padding: 2px 5px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
}
.slide_comic .comic .comic_thumb .comic_info .hot{
    color: #fff;
    background: #56ccf2;
    padding: 2px 5px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    animation: pulse 1.5s steps(5,start) infinite;
}
@keyframes pulse {
    0% {
        visibility: visible
    }

    50% {
        visibility: hidden
    }
}
.comic_list .comic{
    text-decoration: none;
}
.comic_list .comic .comic_thumb{
    height: 240px;
    position: relative;
}
.comic_list .comic .comic_thumb img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.comic_list .comic .comic_thumb .comic_info{
    position: absolute;
    top: 5px;
    left: 5px;
}
.comic_list .comic .comic_thumb .comic_info .time{
    color: #fff;
    background: var(--color-main) ;
    padding: 2px 5px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
}

.cat_comic{
    min-height: 60vh;
}
.cat_comic .cat_title{
    text-transform: capitalize;
}
.follow{
    font-size: 20px;
}
#page_comic .comic .comic_img{
    /* width: 190px; */
    min-width: 190px;
    max-width: 200px;
}
#page_comic .comic .comic_img img{
    border-radius: 10px;
}
#page_comic{
    background: #f2f3f5;
}
#page_comic .comic .comic_action .btn{
    border-radius: 25px;
    color: #fff;
}
.rating{
    gap: 5px;
}
.list_chapter{
    max-height: 400px;
    overflow-y: scroll;
}
.list_chapter .chapter{
    border-bottom: 1px solid #dee2e6;
    text-decoration: none;
    color: #000;
    padding: 5px;
}
.list_chapter .chapter:hover{    
    color: var(--color-main) ;
}
.follow_list .follow{
    position: absolute;
    right: 5px;
    top: 0;
}
.comic_imgs .comic_img img{
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
}
.pagination_user a{
    text-decoration: none;
}
.pagination_user a.active{
    background-color: #56ccf2;
    color: #fff;
}
.header_search .search_comic_result{
    position: absolute;
    top: 60px;
    z-index: 3;
    width: 100%;
    left: 0;
    min-height: 100px;
    background: #fff;
    border: 1px solid var(--color-main);
    overflow-y: scroll;
    max-height: 450px;
    display: none;
}
.header_search .search_comic_result.show{    
    display: block;
}
.header_search .search_comic_result .result_img{
    width: 70px;
}
.header_search .search_comic_result .result_img img{
    border-radius: 5px;
}
.header_search .search_comic_result .search_item{
    text-decoration: none;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}
.header_search .search_comic_result .search_item:hover{
    background-color: #f9eada;
}
.header_search .search_comic_result .search_item .result_name{
    width: calc(100% - 80px);
    text-align: start;
    color: #000;
}